
 body {
   margin: 0;
   padding: 0;
   font-family: Arial, sans-serif;
 }

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #d3d3d3;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }

        /* Game item container */
        .game-item {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border: none;
            font-size: 16px;
            width: 250px;
            text-align: center;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            overflow: hidden;
            cursor: pointer;
        }

        .game-item img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        .game-item:hover {
            background-color: #45a049;
        }

        /* Game details on hover */
        .game-item .game-details {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            width: 100%;
            height: 100%;
            display: none;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }

        .game-item:hover .game-details {
            display: flex;
        }

        /* Link style */
        .game-item a {
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
            margin-top: 10px;
        }
